/*
general
-------
*/
/*@font-face {*/
/*  font-family: 'BeyondTheMountains';*/
/*  src: url('./public/fonts/BeyondTheMountains.eot?#iefix') format('embedded-opentype'),*/
/*  url('./public/fonts/BeyondTheMountains.otf')  format('opentype'),*/
/*  url('./public/fonts/BeyondTheMountains.woff') format('woff'),*/
/*  url('./public/fonts/BeyondTheMountains.ttf')  format('truetype'),*/
/*  url('./public/fonts/BeyondTheMountains.svg#BeyondTheMountains') format('svg');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}
